form(action="/newUser" method="post")
    label First
        input( type="text" name="first" id="first" placeholder="First Name")
    label Last
        input(type="text" name="last" id="last" placeholder="Last Name")
    label E-mail
        input( type="text" name="email" id="email" placeholder="E-mail")
    label Age
        input( type="number" name="age" id="age" placeholder="Age")
    label Phone
        input( type="text" name="phone" id="phone" placeholder="Phone Number")
    label Address
        input( type="text" name="address" id="address" placeholder="Address")
    input( type="submit")

